exportPattern("^[[:alpha:]]+")
importFrom(ggplot2, ggplot, aes, aes_string, geom_point, geom_line, geom_errorbar, geom_text, theme_minimal, labs, theme_bw,scale_x_continuous)
importFrom(dbscan, dbscan)
importFrom(paletteer, scale_color_paletteer_d)
importFrom(reshape2, melt)
importFrom(scales, pretty_breaks)
importFrom(rlang, .data)
import("dplyr")
import("stats")
import("utils")
